{
  "mcpServers": {
    "supabase": {
      "command": "npx",
      "args": [
        "-y",
        "@supabase/mcp-server-supabase@latest",
        "--project-ref=aejhlmoydnhgedgfndql",
        "--features=database,debug,development,functions,storage,account,branching"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "<YOUR_SUPABASE_ACCESS_TOKEN>"
      }
    }
  }
}
